*{
  font-family:  Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:  #24284d;
  color: #FFF;
}

a{
  text-decoration: none;
  color: #595dae;
  transition: 0.5s;

}
a:hover{
  color: #595dae;
}


.color1 {color: #140f07;}
.color2 {color: #24284d;}
.color3 {color: #595dae;}
.color4 {color: #99a0fa;}
.color5 {color: #efecf5;}